.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 5px;
}
.flagSmall {
  border-radius: 23px;
  border: 1px solid black;
  display: inline-block;
  width: 23px;
  height: 23px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
