.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.flagSmall {
  height: 18px;
}
.withoutBorder {
  border: 0px solid black;
}
.navbar .container-fluid, .navbar-collapse {
  padding-left: 0;
  padding-right: 15px;
}
.navbar-collapse.in {
  padding-left: 30px;
}
li {
  font-size: 17px;
}
.navbar-default {
  border-bottom: 1px solid gray;
}
.panel-primary > .panel-heading > a {
  color: white;
}
