<head>
  <title>GeoNews</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link href="res/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="res/css/custom.css" rel="stylesheet">
  <link href="res/css/map.css" rel="stylesheet"/>
  <link href="res/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="res/js/jquery-2.2.0.js" type="text/javascript"></script>
  <script src="res/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw6c5cs-yJZUKmuMAsaDVrZkxz2h5932E" type="text/javascript"></script>
  <script src="res/js/map.js" type="text/javascript"></script>
  <script src="res/js/map.js" type="text/javascript"></script>
  <script src="res/js/Chart.min.js" type="text/javascript"></script>
  <link rel="icon" type="image/ico" href="favicon.png">
</head>
