<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-toggle collapsed" style="border: 0px solid black; float: left; margin-left: 20px; margin-bottom: -10px; font-size: 17px; pointer-events: none;">GeoNews</div>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="index.php"><i class="fa fa-rss"></i> News</a></li>
        <li><a href="dashboard.php"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="all.php"><i class="fa fa-file-text-o"></i> Logs</a></li>
        <li><a href="memories.php"><i class="fa fa-calendar"></i> Memories</a></li>
        <li><a href="map.php"><i class="fa fa-map"></i> Map</a></li>
        <li><a href="chart.php"><i class="fa fa-bar-chart"></i> Statistics</a></li>
        <li><a href="upload.php"><i class="fa fa-cloud-upload"></i> Upload</a></li>
        <li><a href="settings.php"><i class="fa fa-sliders"></i> Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><? printLoggedInUser(); ?></i> </a>
          <ul class="dropdown-menu"><? echo printAllUsers(); ?></ul>
        </li>
        <li><a href="crawl.php"><i class="fa fa-refresh"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
